<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SGP - Administrar Roles</title>
    <style>
        .prm { padding: 0 5px }
        .chk { text-align: center }
        td.del input { display: none }
    </style>
</head>
<body>
<h3>SGP: Administración de roles</h3>
<p>En esta página puede ver los roles asociados al proyecto.</p>
<form action="{% url 'sgp:administrar_roles' proyecto_id=proyecto_id %}" method="post" name="form">
{% csrf_token %}
<table>
    <tr>
        <th rowspan="2">Nombre</th>
        <th colspan="4">Permisos</th>
    </tr>
    <tr>
        <th class="prm">Administrar Equipo</th>
        <th class="prm">Gestionar Proyecto</th>
        <th class="prm">Modificar Pila de Producto</th>
        <th class="prm">Participar en el Desarrollo</th>
    </tr>
    {{ formset.management_form }}
    {% for form in formset %}
        <tr>
            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
            <td class="str">{{ form.nombre }}</td>
            <td class="chk">{{ form.administrar_equipo }}</td>
            <td class="chk">{{ form.gestionar_proyecto }}</td>
            <td class="chk">{{ form.pila_producto }}</td>
            <td class="chk">{{ form.desarrollo }}</td>
            <td class="str"><input type="submit" value="Borrar" onclick="borrar(event, {{ forloop.counter }})"></td>
            <td class="del">{{ form.DELETE }}</td>
        </tr>
    {% endfor %}
</table>
<p><a href="{% url 'sgp:administrar_roles' proyecto_id=proyecto_id%}?extra={{ extra }}">+ Agregar rol</a></p>
<p><input type="submit" value="Guardar"></p>
</form>
<p><a href="{% url 'sgp:mostrar_proyecto' proyecto_id=proyecto_id %}">&#8592; Volver</a></p>
<script type="text/javascript">
    function borrar(event, form) {
        if (!confirm('Esto eliminará el rol de manera permanente. ¿Está seguro de que desea elimiarlo?')) {
            event.preventDefault();
        } else {
            console.log("id_form-"+(form-1)+"-DELETE")
            let box = document.getElementById("id_form-"+(form-1)+"-DELETE");
            box.checked = true;
        }
    }
</script>
</body>
</html>