<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear user story - SGP</title>
    <style>
        th { text-align: left; width: 8em }
    </style>
</head>
<body>
<h3><a href="{% url 'sgp:index' %}">SGP</a> - {{ proyecto.nombre }} - Crear user story</h3>
{% include 'sgp/proyecto-menu.html' %}
<p>Por favor, ingrese la información del user story.</p>
<form method=POST>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <p><input type="submit" value="Crear user story"></p>
</form>
</body>
</html>