<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ proyecto.nombre }} - SGP</title>
    <style>
        th { text-align: left; width: 8em }
    </style>
</head>
<body>
<h3>Editando {{ proyecto.nombre }}</h3>
<p>En esta página puede modificar la información del proyecto.</p>
    <form action="" method=POST>
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <p><input type="submit" value="Guardar cambios"></p>
    </form>
<p><a href="{% url 'sgp:mostrar_proyecto' proyecto_id=proyecto.pk %}">&#8592; Volver</a></p>
</body>
</html>