<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio - SGP</title>
</head>
<body>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="995502643398-16c9uqsedvqktsolf042evsqqij1m9ks.apps.googleusercontent.com">
{% csrf_token %}

<h3>Bienvenido al Sistema Gestor de Proyectos.</h3>
<div>Por favor, inicie sesión mediante el siguiente botón. Cuando desee terminar su sesión, haga click <a href="#" onclick="signOut();">aquí</a>.</div>
<br/>
<div class="g-signin2" data-onsuccess="onSignIn"></div>

{% if user.is_authenticated %}
    <p>Hola, {{ user.nombre }}. Usted forma parte de los siguientes projectos:</p>
    <ul>
        <li>Projecto 1</li>
        <li>Projecto 2</li>
        <li>Projecto 3</li>

        {% if perms.sgp.crear_proyecto %}
            <a href="{% url 'sgp:proyectos' %}">Crear proyecto</a>
        {% endif %}
    </ul>
    {% if perms.sgp.administrar %}
        <p>Adicionalmente, puede administrar los usuarios haciendo click <a href="{% url 'sgp:administrar' %}">aquí</a>.</p>
    {% endif %}
{% else %}
    <p>Por favor, inicie sesión.</p>
{% endif %}

<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    function onSignIn(googleUser) {
        const id_token = googleUser.getAuthResponse().id_token;
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '{% url 'sgp:login' %}');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-CSRFToken', csrftoken);
        xhr.onload = function() {
            {% if user.is_anonymous %}
                if (xhr.status === 200) {
                    window.location.href = '{% url 'sgp:index' %}';
                }
            {% endif %}
        };
        xhr.send('idtoken=' + id_token);
    }

    function signOut() {
        const auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut();
        window.location.href = '{% url 'sgp:logout' %}';
    }
</script>

</body>
</html>