<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ proyecto.nombre }} - SGP</title>
    <style>
        th { text-align: left; padding-right: 25px }
    </style>
</head>
<body>
<h3>Información de {{ proyecto.nombre }}</h3>
<table>
    <tr><th>Nombre:</th><td>{{ proyecto.nombre }}</td></tr>
    <tr><th>Descripcion:</th><td>{{ proyecto.descripcion }}</td></tr>
    <tr><th>Creador:</th><td>{{ proyecto.creador }}</td></tr>
    <tr><th>Fecha de creación:</th><td>{{ proyecto.fecha_creacion }}</td></tr>
    <tr><th>Fecha de inicio:</th><td>{{ proyecto.fecha_inicio }}</td></tr>
    <tr><th>Fecha de fin:</th><td>{{ proyecto.fecha_fin }}</td></tr>
    <tr><th>Duración de los sprints:</th><td>{{ proyecto.duracion_sprint }} días</td></tr>
    <tr><th>Estado:</th><td>{{ proyecto.get_estado_display }}</td></tr>
    <tr><th>Equipo:</th><td><ul>
        {% for user in proyecto.equipo.all %}
            <li>{{ user }}</li>
        {% endfor %}
    </ul></td></tr>
</table>
<p><a href="{% url 'sgp:product_backlog' proyecto_id=proyecto.id %}">Product backlog</a></p>
{% load guardian_tags %}
{% get_obj_perms request.user for proyecto as "proyecto_perms" %}
{% if "gestionar_proyecto" in proyecto_perms %}
    {% if proyecto.estado == proyecto.Estado.PENDIENTE %}
        <ul>
            {% for e in error %}
                <li>{{ e }}</li>
            {% endfor %}
        </ul>
        <form method=POST>
            {% csrf_token %}
            <p><input type="submit" value="Iniciar Proyecto"></p>
        </form>
    {% endif %}
    <p>Si desea editar el proyecto, haga click
        <a href="{% url 'sgp:editar_proyecto' proyecto.id %}">aquí</a>.</p>
{% endif %}
{% if "administrar_equipo" in proyecto_perms %}
    <p>Si desea administrar los roles, haga click
        <a href="{% url 'sgp:administrar_roles' proyecto.id %}">aquí</a>.</p>
    <p>Si desea administrar el equipo, haga click
        <a href="{% url 'sgp:administrar_equipo' proyecto.id %}">aquí</a>.</p>
{% endif %}
{% if "gestionar_proyecto" in proyecto_perms %}
    <p>Si desea eliminar el proyecto, haga click
        <a href="{% url 'sgp:eliminar_proyecto' proyecto.id %}" onclick="confirmar(event)">aquí</a>.</p>
{% endif %}
<p>El proyecto contiene los siguientes sprints:</p>
<ul>
    {% for sprint in proyecto.sprint_set.all %}
        <li><a href="{% url 'sgp:mostrar_sprint' proyecto_id=proyecto.pk sprint_id=sprint.id %}">
            {{ sprint.nombre }}</a></li>
    {% endfor %}
</ul>
<p>Para crear un sprint nuevo, haga click <a href="{% url 'sgp:crear_sprint' proyecto.id %}">aquí</a>.</p>
<p><a href="{% url 'sgp:index' %}">&#8592; Volver</a></p>
<script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    function confirmar(e) {
        if (!confirm('Esto eliminará el proyecto de manera permanente. ¿Está seguro de que desea elimiarlo?')) {
            e.preventDefault();
        }
    }
</script>
</body>
</html>