<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ proyecto.nombre }} - SGP</title>
    <style>
        th { text-align: left; padding-right: 25px }
    </style>
</head>
<body>
<h3>Información de {{ proyecto.nombre }}</h3>
<table>
    <tr><th>Nombre:</th><td>{{ proyecto.nombre }}</td></tr>
    <tr><th>Descripcion:</th><td>{{ proyecto.descripcion }}</td></tr>
    <tr><th>Creador:</th><td>{{ proyecto.creador.nombre }} {{ proyecto.creador.apellido }} ({{ proyecto.creador.email }})</td></tr>
    <tr><th>Fecha de creación:</th><td>{{ proyecto.fecha_creacion }}</td></tr>
    <tr><th>Fecha de inicio:</th><td>{{ proyecto.fecha_inicio }}</td></tr>
    <tr><th>Fecha de fin:</th><td>{{ proyecto.fecha_fin }}</td></tr>
    <tr><th>Duración de los sprints:</th><td>{{ proyecto.duracion_sprint }}</td></tr>
    <tr><th>Estado:</th><td>{{ proyecto.status }}</td></tr>
</table>
{% load guardian_tags %}
{% get_obj_perms request.user for proyecto as "proyecto_perms" %}
{% if "gestionar_proyecto" in proyecto_perms %}
    <p>Si desea editar el proyecto, haga click <a href="{% url 'sgp:editar_proyecto' proyecto.id %}">aquí</a>.</p>
{% endif %}
{% if "administrar_equipo" in proyecto_perms %}
    <p>Si desea administrar los roles, haga click <a href="{% url 'sgp:administrar_roles' proyecto.id %}">aquí</a>.</p>
{% endif %}
{% if "gestionar_proyecto" in proyecto_perms %}
    <p>Si desea eliminar el proyecto, haga click <a href="{% url 'sgp:eliminar_proyecto' proyecto.id %}" onclick="confirmar(event)">aquí</a>.</p>
{% endif %}
<p><a href="{% url 'sgp:index' %}">&#8592; Volver</a></p>
<script type="text/javascript">
    function confirmar(e) {
       if (!confirm('Esto eliminará el proyecto de manera permanente. ¿Está seguro de que desea elimiarlo?')) {
           e.preventDefault();
       }
    }
</script>
</body>
</html>