<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ proyecto.nombre }} - SGP</title>
    <style>
        th { padding-right: 25px }
        td { text-align: center; padding-right: 25px }
        .str { text-align: left; padding-right: 50px }
    </style>
</head>
<body>
{% include 'sgp/proyecto-menu.html' with pos="Product Backlog" %}
{% load guardian_tags %}
{% get_obj_perms request.user for proyecto as "proyecto_perms" %}
<table>
    <tr>
        <th>&#8470;</th>
        <th>User Story</th>
        <th>Prioridad</th>
        <th>Horas estimadas</th>
        <th>Estado</th>
        <th>Comentarios</th>
        <th>Sprint</th>
    </tr>
    {% for us in backlog.activo %}
    <tr>
        <td>US-{{ us.numero }}</td>
        <td class="str"><a href="{% url 'sgp:mostrar_user_story' proyecto.id us.numero %}">{{ us.nombre }}</a></td>
        <td>{{ us.get_prioridad_display }}</td>
        <td>{{ us.horas_estimadas|default_if_none:"--" }}</td>
        <td>{{ us.get_estado_display }}</td>
        <td>{{ us.comentario_set.count }}</td>
        {% if us.sprint %}
            <td><a href="{% url 'sgp:sprint_backlog' proyecto.id us.sprint.id %}">{{ us.sprint }}</a></td>
        {% else %}
            <td>--</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% if backlog.cancelado %}
<table>
    <tr>
        <th>&#8470;</th>
        <th>User Story</th>
        <th>Prioridad</th>
        <th>Horas estimadas</th>
        <th>Estado</th>
        <th>Comentarios</th>
    </tr>
    <p>Los siguientes user stories fueron cancelados:</p>
    {% for us in backlog.cancelado %}
    <tr>
        <td>US-{{ us.numero }}</td>
        <td class="str"><a href="{% url 'sgp:mostrar_user_story' proyecto.id us.numero %}">{{ us.nombre }}</a></td>
        <td>{{ us.get_prioridad_display }}</td>
        <td>{{ us.horas_estimadas|default_if_none:"--" }}</td>
        <td>{{ us.get_estado_display }}</td>
        <td>{{ us.comentario_set.count }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% if "pila_producto" in proyecto_perms and proyecto.estado != proyecto.Estado.FINALIZADO %}
    <p><a href="{% url 'sgp:crear_user_story' proyecto.id %}">+ Crear user story</a></p>
{% endif %}
</body>
</html>