<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ proyecto.nombre }} - SGP</title>
    <style>
        th { text-align: left; width: 8em }
    </style>
</head>
<body>
{% include 'sgp/proyecto-menu.html' with pos="Editar" %}
<p>En esta página puede modificar la información del proyecto.</p>
<form method=POST>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <p><input type="submit" name="guardar" value="Guardar cambios">
        {% if proyecto.estado == proyecto.Estado.PENDIENTE %}
            <input type="submit" name="eliminar" value="Eliminar" onclick="confirmar(event)">
        {% endif %}
    </p>
</form>

<script type="text/javascript">
    function confirmar(e) {
        if (!confirm('Esto eliminará el proyecto de manera permanente. ¿Está seguro de que desea eliminarlo?')) {
            e.preventDefault();
        }
    }
</script>
</body>
</html>