<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ filename }} - SGP</title>
    <style>
        td { text-align: center }
    </style>
</head>
<body>
{% include 'sgp/reporte-encabezado.html' with tipo='Product Backlog' %}
<h3>Listado de User Stories</h3>
<table>
    <tr>
        <th>Nº</th>
        <th>User Story</th>
        <th>Estado</th>
        <th>Sprint</th>
    </tr>
    {% for us in proyecto.product_backlog.all %}
    <tr>
        <td>US-{{ us.numero }}</td>
        <td>{{ us.nombre }}</td>
        <td>{{ us.get_estado_display }}</td>
        <td>{{ us.sprint|default_if_none:"--" }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>