<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ sprint.nombre }} - SGP</title>
    <style>
        th { text-align: left; padding-right: 25px }
    </style>
</head>
<body>
<h3><a href="{% url 'sgp:index' %}">SGP</a> - {{ proyecto.nombre }} - {{ sprint.nombre }}</h3>
{% include 'sgp/proyecto-menu.html' %}
{% include 'sgp/sprint-menu.html' %}
{% load guardian_tags %}
{% get_obj_perms request.user for proyecto as "proyecto_perms" %}

{% if sprint.sprint_backlog.all %}
    <table>
        <tr>
            <th>&#8470;</th>
            <th>User Story</th>
            <th>Prioridad</th>
            <th>Horas estimadas</th>
            <th>Comentarios</th>
            <th>Desarrollador</th>
        </tr>
        {% for us in sprint.sprint_backlog.all %}
        <tr>
            <td>US-{{ us.numero }}</td>
            <td><a href="{% url 'sgp:mostrar_user_story' proyecto.id us.numero %}">
                {{ us.nombre }}</a></td>
            <td>{{ us.get_prioridad_display }}</td>
            <td>{{ us.horas_estimadas|default_if_none:"--" }}</td>
            <td>{{ us.comentario_set.count }}</td>
            <td>{% for p in us.participasprint_set.all %}
                {% if p.sprint == sprint %}
                    {{ p.usuario }}
                {% endif %}
            {% endfor %}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% if "gestionar_proyecto" in proyecto_perms %}
    <h4>Agregar user story:</h4>
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>User Story</th>
                <th>Desarrollador asignado</th>
            </tr>
            <tr>
                <td class="str">{{ form.user_story }}</td>
                <td class="str">{{ form.usuario }}</td>
            </tr>
        </table>
        <p><input type="submit" value="Agregar" name="agregar_user_story"></p>
    </form>
{% endif %}
</body>
</html>