<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ sprint.nombre }} - SGP</title>
    <style>
        th { text-align: left; padding-right: 25px }
    </style>
</head>
<body>
<h3><a href="{% url 'sgp:index' %}">SGP</a> - {{ proyecto.nombre }} - {{ sprint.nombre }}</h3>
{% include 'sgp/proyecto-menu.html' %}
{% include 'sgp/sprint-menu.html' %}
{% load guardian_tags %}
{% get_obj_perms request.user for proyecto as "proyecto_perms" %}
<table>
    <tr><th>Nombre:</th><td>{{ sprint.nombre }}</td></tr>
    {% if sprint.descripcion %}
        <tr><th>Descripcion:</th><td>{{ sprint.descripcion }}</td></tr>
    {% endif %}
    <tr><th>Fecha de inicio:</th><td>{{ sprint.fecha_inicio }}</td></tr>
    <tr><th>Fecha de fin:</th><td>{{ sprint.fecha_fin }}</td></tr>
    <tr><th>Estado:</th><td>{{ sprint.get_estado_display }}</td></tr>
</table>
</body>
</html>