<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ sprint.nombre }} - SGP</title>
    <style>
        th { text-align: left; padding-right: 25px }
    </style>
</head>
<body>
{% include 'sgp/sprint-menu.html' %}
{% load guardian_tags %}
{% get_obj_perms request.user for proyecto as "proyecto_perms" %}
<table>
    <tr><th>Nombre:</th><td>{{ sprint.nombre }}</td></tr>
    {% if sprint.descripcion %}
        <tr><th>Descripcion:</th><td>{{ sprint.descripcion }}</td></tr>
    {% endif %}
    <tr><th>Fecha de inicio:</th><td>{{ sprint.fecha_inicio }}</td></tr>
    <tr><th>Fecha de fin:</th><td>{{ sprint.fecha_fin }}</td></tr>
    <tr><th>Estado:</th><td>{{ sprint.get_estado_display }}</td></tr>
    <tr><th>Capacidad del equipo:</th>
        <td>{{ sprint.capacidad_diaria }} hora{{ sprint.capacidad_diaria|pluralize:",s" }} por día,
            {{ sprint.capacidad_equipo }} hora{{ sprint.capacidad_equipo|pluralize:",s" }} en total</td></tr>
    <tr><th>Costo total del backlog:</th>
        <td>{{ sprint.costo_backlog }} hora{{ sprint.costo_backlog|pluralize:",s" }}</td></tr>
</table>
{% if "gestionar_proyecto" in proyecto_perms %}
    {% if mensajes.errores %}
        {% if sprint.estado == sprint.Estado.PENDIENTE %}
            <p>El sprint no puede iniciar por las siguientes razones:</p>
        {% elif sprint.estado == sprint.Estado.INICIADO %}
            <p>El sprint no puede finalizar por las siguientes razones:</p>
        {% endif %}
        <ul>
            {% for error in mensajes.errores %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <form method=POST>
            {% csrf_token %}
            {% if sprint.estado == sprint.Estado.PENDIENTE %}
                <p><input type="submit" value="Iniciar Sprint" onclick="confirmar(event)"></p>
            {% elif sprint.estado == sprint.Estado.INICIADO %}
                <p><input type="submit" value="Finalizar Sprint" onclick="confirmar(event)"></p>
            {% endif %}
        </form>
    {% endif %}

    {% if mensajes.advertencias %}
        <p>El sprint presenta las siguientes advertencias:</p>
        <ul>
            {% for advertencia in mensajes.advertencias %}
                <li>{{ advertencia }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
<script type="text/javascript">
    function confirmar(e) {
        {% if sprint.estado == proyecto.Estado.PENDIENTE %}
            mensaje = '¿Está seguro de que desea iniciar el sprint?'
        {% elif sprint.estado == proyecto.Estado.INICIADO %}
            mensaje = '¿Está seguro de que desea finalizar el sprint?'
        {% endif %}
        if (!confirm(mensaje)) {
            e.preventDefault();
        }
    }
</script>
</body>
</html>