<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ sprint.nombre }} - SGP</title>
    <style>
        th { text-align: left; padding-right: 25px }
    </style>
</head>
<body>
{% include 'sgp/sprint-menu.html' with pos="Editar" %}
{% load guardian_tags %}
{% get_obj_perms request.user for proyecto as "proyecto_perms" %}
<p>Por favor, ingrese la información del sprint.</p>
<form method=POST>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <p> <input type="submit" name="guardar" value="Guardar cambios">
        <input type="submit" name="eliminar" value="Eliminar" onclick="confirmar(event)"></p>
</form>
<script>
    const duracion = document.getElementById('id_duracion');
    const fecha_inicio = document.getElementById('id_fecha_inicio');
    const fecha_fin = document.getElementById('id_fecha_fin');

    function actualizar_fecha_fin() {
        if (duracion.value && fecha_inicio.value) {
            let date = new Date();
            let fecha = fecha_inicio.value.match("^(0?[1-9]|[12][0-9]|3[01])/(0?[1-9]|1[012])/([0-9]+)$");
            if (fecha !== null) {
                date.setUTCFullYear(parseInt(fecha[3]), parseInt(fecha[2])-1, parseInt(fecha[1]));
                if (date.getUTCMonth()+1 === parseInt(fecha[2])) {
                    let offset = parseInt(duracion.value);
                    date.setUTCDate(date.getUTCDate() + offset);
                    fecha_fin.value = ('0' + date.getUTCDate()).slice(-2)
                        + "/" + ('0' + (date.getUTCMonth()+1)).slice(-2)
                        + "/" + date.getUTCFullYear();
                    return;
                }
            }
        }
        fecha_fin.value = "";
    }

    function confirmar(e) {
        if (!confirm('Esto eliminará el sprint de manera permanente. ¿Está seguro de que desea eliminarlo?')) {
            e.preventDefault();
        }
    }
</script>
</body>
</html>