<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear user story - SGP</title>
    <style>
        th { text-align: left; width: 8em }
    </style>
</head>
<body>
<h3><a href="{% url 'sgp:index' %}">SGP</a> - {{ proyecto.nombre }} - {{ user_story.nombre }} - Editar</h3>
{% include 'sgp/proyecto-menu.html' %}
{% load guardian_tags %}
{% get_obj_perms request.user for proyecto as "proyecto_perms" %}
<p>En esta página puede modificar la información del user story.</p>
<form method=POST>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <p> <input type="submit" name="guardar" value="Guardar cambios">
        <input type="submit" name="eliminar" value="Eliminar" onclick="confirmar(event)"></p>
</form>

<script type="text/javascript">
    function confirmar(e) {
        if (!confirm('Esto quitará el user story del product backlog. ¿Está seguro de que desea eliminarlo?')) {
            e.preventDefault();
        }
    }
</script>
</body>
</html>